@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes twinkle {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes driftLarge {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes driftSmall {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* styles/globals.css or a specific module CSS file */
@keyframes twinkle {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

@keyframes driftSmall {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes driftLarge {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}/* styles/globals.css or your specific CSS file */
.animate-spin {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
html {
  scroll-behavior: smooth;
}
/* globals.css */
.app-container {
  background-color: #003496; /* Set this to match your app's background color */
  min-height: 100vh; /* Ensures full screen height to avoid flicker */
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #371683 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #371683;
    border-radius: 10px;
  }
.page-motion-container {
  /* Ensure the container inherits any necessary styling to avoid black flickers */
  width: 100%;
  min-height: 100vh;
}
/* Custom nprogress styling */
#nprogress .bar {
  background: #4caf50; /* Change to your preferred color */
  height: 5px; /* Adjust the thickness of the bar */
}

#nprogress .spinner {
  display: none; /* Hide spinner, only show progress bar */
}
